<h1>Edit user</h1>
<div>
	<ul>
		<li>
			<strong>eventually, you'll be able to manage your tags and stuff here</strong>
		</li>
	</ul>
</div>
<%= form_for(@user) do |f| %>
	<%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
<ul>
	<li>on keyup, ajax call to service that determines if the new email address is available</li>
	<li>weak/strong password indicator</li>
</ul>