<%#- if not signed in, user gets redirected to sign-in page -%>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
		<h1 class="item">Keep Track of Something</h1>
        <%= render 'shared/item_form' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
